body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
/* ---Banner Section--- */
.banner {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.banner-content {
  width: 500px;
  text-align: right;
  margin: 100px 100px 80px 0;
}
.banner-title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.btn-white{
    padding: 20px 25px;
    background-color: #fff;
    color: #005fac;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

/* ---Pre Year section--- */
.pre-year{
    margin: 0px 200px;
}

.pre-year-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pre-year-container img{
    width: 400px;
    margin-right: 90px;
}

.section-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.section-description{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.pre-year-container li{
    color: #16d887;
}